In [ ]:
print ("Olá mundo!")

Olá mundo!

In [ ]:
nome = "Olá, mundo!"
print(nome)

Olá, mundo!

In [ ]:
numero = 5  #numero inteiro
numero_decimal = 5.5  #numero decimal
texto = "Pedro"  #texto
maiorIdade = True  #booleano

print(numero, type(numero))
print(numero_decimal, type(numero_decimal))
print(texto, type(texto)) 
print(maiorIdade, type(maiorIdade))

5 <class 'int'>
5.5 <class 'float'>
Pedro <class 'str'>
True <class 'bool'>

In [ ]:
soma = 2 + 3.5
subtracao = 3 - 8
divisao = 10/3
multiplicacao = 2.5 * 3
print(soma, subtracao, divisao, multiplicacao)

exp = pow(2,3)
div_inteira = 10 // 3
resto_div = 10 % 3
print(exp)

5.5 -5 3.3333333333333335 7.5
8

In [ ]:
# para comentar é só fazer isso
"""
ou isso se vc quiser
varias
linhas
palmeiras nao tem mundial
"""

'\nou isso se vc quiser\nvarias\nlinhas\npalmeiras nao tem mundial\n'

In [ ]:
print(divisao, div_inteira, resto_div)

3.3333333333333335 3 1

In [ ]:
# EXERCICIO 1 (calcular gorjeta)

valor_refeicao = 42.54
taxa_servico = valor_refeicao/10
valor_total = valor_refeicao + taxa_servico

print("O valor total da conta é de: R$",valor_total)

O valor total da conta é de: R$ 46.794

In [ ]:
# FUNÇÃO INPUT

#valor_refeicao = input("Digite o valor da refeição: ")
#print(type(valor_refeicao))

# corrigindo #

valor_refeicao = float(input("Digite o valor da refeição: R$ "))
taxa_servico = valor_refeicao / 10
valor_total = valor_refeicao + taxa_servico

print("O valor total da conta é de: R$", valor_total) # ou print("O valor total da conta é de: R$" + str(valor_total)) ou 
print(f"O valor total da conta é de: R$ {valor_total:.2f}") # melhor forma

Digite o valor da refeição: R$ 42.54
O valor total da conta é de: R$ 46.794
O valor total da conta é de: R$      46.79

In [ ]:
# Indentação e formatação dos blocos

if True:
  print("Esse print será lido")
  print("Esse print será lido")

if False:
  print("Esse print não será lido")
  print("Esse print não será lido")
print("Esse print será lido")

print(1)

Esse print será lido
Esse print será lido
Esse print será lido
1

In [ ]:
def exibir_dados(dado):
  print(dado)
  print(5)
  print("Dentro do def")
print("Fora do def")
exibir_dados("dado no final do código")

Fora do def
dado no final do código
5
Dentro do def

In [ ]:
#EXERCICIO 2

nome = input("Digite seu nome: ")
idade = int(input("Digite sua idade: "))
genero = input("Gênero: ")

if (idade == 1):
  anos = "ano"
else:
  anos = "anos"

print(f"Olá, {nome}, você possui {idade} {anos} de idade e é do gênero {genero}.")
print(f"Já pensou no que você fará no seu aniversário de {idade + 1} anos?")

Digite seu nome: pedro
Digite sua idade: 20
Gênero: masc
Olá, pedro, você possui 20 anos de idade e é do gênero masc.
Já pensou no que você fará no seu aniversário de 21 anos?

In [ ]:
genero = "masculino"

print("Sem formatação:", genero)

print("Capitalize:", genero.capitalize())

print("Maisculo", genero.upper())

print("minusculo", genero.lower())

Sem formatação: masculino
Capitalize: Masculino
Maisculo MASCULINO
minusculo masculino

In [ ]:
idade = 5  #int
outra_idade = "5"  #str
nova_idade = input("Idade: ")  #str

outra_idade_transformada = int(outra_idade)
nova_idade_transformada = int(nova_idade)

print(idade, type(idade))
print(outra_idade, type(outra_idade))
print(nova_idade, type(nova_idade))
print(outra_idade_transformada, type(outra_idade_transformada))
print(nova_idade_transformada, type(nova_idade_transformada))

Idade: 12
5 <class 'int'>
5 <class 'str'>
12 <class 'str'>
5 <class 'int'>
12 <class 'int'>

In [ ]:
idade = 15
maiorIdade = idade >= 18

print("Maior idade:", maiorIdade, type(maiorIdade))

Maior idade: False <class 'bool'>

In [ ]:
# LOGICAS COM BOOLEANOS

idade = 15
altura = 190

maior_idade = idade >= 18
maior_que_dois_metros = altura >= 200

maior_idade_e_maior_que_dois_metros = maior_idade >= 18 and maior_que_dois_metros >= 200

print("Maior idade:", maiorIdade, type(maiorIdade))
print("Maior que 2m:", maior_que_dois_metros, type(maior_que_dois_metros))

print("Maior idade e maior que 2m:", maior_que_dois_metros, type(maior_que_dois_metros))

Maior idade: False <class 'bool'>
Maior que 2m: False <class 'bool'>
Maior idade e maior que 2m: False <class 'bool'>

In [ ]:
# Comparações

print("1 > 1: ", 1 > 1)
print("1 < 1: ", 1 < 1)
print("1 == 1: ", 1 == 1)
print("1 != 1: ", 1 != 1)
print("1 <= 1: ", 1 <= 1)
print("1 >= 1: ", 1 >= 1)

1 > 1:  False
1 < 1:  False
1 == 1:  True
1 != 1:  False
1 <= 1:  True
1 >= 1:  True

In [ ]:
idade = 15
maiorIdade = idade >= 18

menorIdade = not maiorIdade

print("Essa pessoa é menor de idade?", menorIdade)

Essa pessoa é menor de idade? True

In [ ]:
# Operadores (NOT) - inverte o operador de um booleano

print()

In [ ]:
# Operadores (AND) - Multiplicação

print("True and True: ", True and True)
print("True and False: ", True and False)
print("False and True: ", False and True)
print("False and False: ", False and False)

True and True:  True
True and False:  False
False and True:  False
False and False:  False

In [ ]:
# Operadores (OR)

print("True or True: ", True or True)
print("True or False: ", True or False)
print("False or True: ", False or True)
print("False or False: ", False or False)

True or True:  True
True or False:  True
False or True:  True
False or False:  False

In [ ]:
print("1 == 1",1 == 1)  # True 
print("1.0 == 1",1.0 == 1)   # True
print('"1" == 1"',"1" == 1)  # False
print("True == 1",True == 1) # True
print("True == 0", True == 0)
print("False == 0", False == 0)
print("False == False", False == False)

print(type(1), type(1.0), type("1"))

1 == 1 True
1.0 == 1 True
"1" == 1" False
True == 1 True
True == 0 False
False == 0 True
False == False True
<class 'int'> <class 'float'> <class 'str'>

In [ ]:
# If, elif (else if), else  -> declarações de condição

# If (se)

# Indentation Block
# Bloco indentado

if True:
  print("Esse if será lido")

if False:
  print("Esse if não será lido")

print("Apenas o primeiro if foi lido")

Esse if será lido
Apenas o primeiro if foi lido

In [ ]:
# Else (contrário do if)
# sempre vem depois de um if ou de um elif

if False:
  print("Esse if não será lido, pois a condição dele é false")
else:
  print("Esse else será lido, pois todas as condições anteriores são False")
  print("No caso, tivemos apenas uma condição")

Esse else será lido, pois todas as condições anteriores são False
No caso, tivemos apenas uma condição

In [ ]:
# Elif (else if)

if False:
  print("Esse if não sera lido")
elif True:
  print("Esse elif será lido")

Esse elif será lido

In [ ]:
idade = 15
maior_idade = idade >= 18

if maior_idade:
  print("Essa pessoa é maior de idade ")
else:
  print("Essa pessoa não é maior de idade")

Essa pessoa não é maior de idade

In [ ]:
letra = input("Digite a letra: ").upper()

if letra == "A":
  print("A de Amor")
elif letra == "B":
  print("B de baixinho")
elif letra == "C":
  print("C de coração")
else:
  print("Não sei opinar")

Digite a letra:
Não sei opinar

In [ ]:
# FUNÇÕES

# Declaração

def exibir_nome():
  print("Pedro Teles")

exibir_nome()
exibir_nome()

Pedro Teles
Pedro Teles

In [ ]:
# Declaração

# 'idade' é o parâmetro necessário para que a função 'exibir_faixa_etaria()' execute.
def exibir_faixa_etaria(idade):
    faixa_etaria1 = idade >= 0
    faixa_etaria2 = idade >= 18
    faixa_etaria3 = idade >= 40

    print("Idade:", idade)
    # print("Faixa Etária 1:", faixa_etaria1)
    # print("Faixa Etária 2:", faixa_etaria2)
    # print("Faixa Etária 3:", faixa_etaria3)

    if faixa_etaria3:
        print("Essa pessoa está na faixa etária 3")
    elif faixa_etaria2:
        print("Essa pessoa está na faixa etária 2")
    elif faixa_etaria1:
        print("Essa pessoa está na faixa etária 1")
    else:
        print("Informe uma idade correta!")

# Execução
  # O valor '50' é um argumento da função 'exibir_faixa_etaria'. Esse valor entrará para a função
  # como o parâmetro 'idade
exibir_faixa_etaria(50)
exibir_faixa_etaria(10)
exibir_faixa_etaria(30)
exibir_faixa_etaria(70)
exibir_faixa_etaria(25)
exibir_faixa_etaria(-10)

Idade: 50
Essa pessoa está na faixa etária 3
Idade: 10
Essa pessoa está na faixa etária 1
Idade: 30
Essa pessoa está na faixa etária 2
Idade: 70
Essa pessoa está na faixa etária 3
Idade: 25
Essa pessoa está na faixa etária 2
Idade: -10
Informe uma idade correta!

In [ ]:
# Funções com retorno

def soma(a, b):
  # print(f"{a} + {b} = {a + b}")

  return a + b

print(5, type(5))
print(10, type(10))
print("soma(5, 10)", soma(5, 10), type(soma(5, 10)))

resultado_soma1 = soma(5, 10)
print("resultado_soma1", resultado_soma1, type(resultado_soma1))

resultado_soma2 = soma(10, 20)
print("resultado_soma2", resultado_soma2, type(resultado_soma2))

resultado_final = soma(resultado_soma1, resultado_soma2)
print("resultado_final", resultado_final)

5 <class 'int'>
10 <class 'int'>
soma(5, 10) 15 <class 'int'>
resultado_soma1 15 <class 'int'>
resultado_soma2 30 <class 'int'>
resultado_final 45

In [1]:
# LISTA

numeros = [5, 9, 10, 20, 40, 80]
#Indices =[0, 1, 2,  3,   4,  5]

print(numeros, type(numeros))

primeiro_numero = numeros[0]
print(primeiro_numero, type(primeiro_numero))

quantidade_numeros = len(numeros)
print("Quantidade de numeros: ", quantidade_numeros, type(quantidade_numeros))

ultimo_indice = quantidade_numeros - 1
ultimo_numero = numeros[ultimo_indice]
print("Último numero: ", ultimo_numero, type(ultimo_numero))

[5, 9, 10, 20, 40, 80] <class 'list'>
5 <class 'int'>
Quantidade de numeros:  6 <class 'int'>
Último numero:  80 <class 'int'>

In [ ]:
# FAZENDO DIRETO

numeros = [1, 2, 3, 50, 100, 250]
ultimo_numero = numeros[len(numeros) - 1]

print("Ultimo numero: ", ultimo_numero)

Ultimo numero:  250

In [ ]:
# Adicionando coisas na lista

numeros = []

numeros.append(10)
numeros.append(20)
numeros.append(30)
numeros.append(40)
numeros.insert(3, 15)  # insere um numero no indice desejado

print(numeros, len(numeros), type(numeros))

[10, 20, 30, 15, 40] 5 <class 'list'>

In [2]:
# COlocando lista em ordem crescente (ou decrescente)

numeros = [9, 3, 15, 2, 77, 8, 957, 1]

numeros.sort()

print(numeros)

numeros.sort(reverse=True)

print(numeros)

[1, 2, 3, 8, 9, 15, 77, 957]
[957, 77, 15, 9, 8, 3, 2, 1]

In [3]:
# FORRR

numeros = [9, 3, 15, 2, 77, 8, 957, 1]
numeros_em_dobro = []

for numero in numeros:               # note que 'numero' nao precisa ser declarado
  numeros_em_dobro.append(numero*2)  # "para cada numero em numeros" --> faça alguma coisa
  
print(numeros)
print(numeros_em_dobro)

[9, 3, 15, 2, 77, 8, 957, 1]
[18, 6, 30, 4, 154, 16, 1914, 2]

In [1]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

# for valor in lista:
#   Executo uma vez para cada valor.
#   Em cada execução, a variável 'valor' possui uma informação diferente
# Exemplo: Numa lista com [4, 12, 6]
# Se tivermos: for valor in lista:
# Temos na 'primeira' execução do for a informação '4' para a variável 'valor'
# Temos na 'segunda' execução do for a informação '12' para a variável 'valor'
# Temos na 'terceira' execução do for a informação '6' para a variável 'valor'

numeros = [10, 90, 40, 30, 20, 50]
numeros_em_dobro = []  # ou numeros_em_dobro = list()

for numero in numeros:
  # print("Início do for:", numero, numeros, numeros_em_dobro)
  numeros_em_dobro.append(numero * 2)
  print("Execução do for para o número:", f"{numero} * 2 = {numero * 2}", numeros_em_dobro)
  # print()

print(numeros)
print(numeros_em_dobro)

Execução do for para o número: 10 * 2 = 20 [20]
Execução do for para o número: 90 * 2 = 180 [20, 180]
Execução do for para o número: 40 * 2 = 80 [20, 180, 80]
Execução do for para o número: 30 * 2 = 60 [20, 180, 80, 60]
Execução do for para o número: 20 * 2 = 40 [20, 180, 80, 60, 40]
Execução do for para o número: 50 * 2 = 100 [20, 180, 80, 60, 40, 100]
[10, 90, 40, 30, 20, 50]
[20, 180, 80, 60, 40, 100]

In [ ]:
# For indexado, em que temos acesso ao indice de cada valor

numeros = [9, 4, 3, 7, 5]

for indice in range(len(numeros)):
  numero = numeros[indice]  
  print("Índice", indice,"Temos o valor:", numero)

  if indice == 1:
    break

Índice 0 Temos o valor: 9
Índice 1 Temos o valor: 4

In [ ]:
numeros = [9, 4, 3, 7, 5]

#enumerate transforma tudo em uma tupla

print(enumerate(numeros))

lista = list(numeros)
print(lista)

<enumerate object at 0x7fa994ba0500>
[9, 4, 3, 7, 5]

In [ ]:
# Tuplas

tupla = (1, 5, 9, 6, 7)    # tambem funciona sem os parenteses (na declaração)

print(tupla, type(tupla))

primeiro_numero = tupla[0]
print(primeiro_numero, type(primeiro_numero))

# tupla[0] = 55  #ERRO! POIS A TUPLA É IMUTÁVEL

tupla2 = ("Pedro", "Teles")
print(tupla2, type(tupla))

nome = tupla2[0]
sobrenome = tupla2[1]
print(nome, sobrenome, type(nome), type(sobrenome))

(1, 5, 9, 6, 7) <class 'tuple'>
1 <class 'int'>
('Pedro', 'Teles') <class 'tuple'>
Pedro Teles <class 'str'> <class 'str'>

In [ ]:
# Desconstrução de tuplas

nome, sobrenome = ("Pedro", "Teles")

print(nome, type(nome))
print(sobrenome, type(sobrenome))

Pedro <class 'str'>
Teles <class 'str'>

In [ ]:

numeros = [30, 6, 1, 9, 6]

enum = enumerate(numeros)

lista = list(enum)

# Transformo o enum em lista apenas para exibí-lo no print
print(lista, type(lista))

print(lista[0], type(lista[0]))

indice, valor = lista[0]

print(indice, valor, type(indice), type(valor))

[(0, 30), (1, 6), (2, 1), (3, 9), (4, 6)] <class 'list'>
(0, 30) <class 'tuple'>
0 30 <class 'int'> <class 'int'>

In [ ]:

numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print(indice, valor)

0 9
1 6
2 7
3 9
4 2
5 4
6 3

In [ ]:

tupla = (5, 6, 9, 7, 3)

print(tupla, type(tupla))

# Transforma qualquer coisa em lista (desde que seja um tipo suportado)
lista = list(tupla)

lista[0] = 9

print(lista)

tupla = tuple(lista)

print(tupla)

(5, 6, 9, 7, 3) <class 'tuple'>
[9, 6, 9, 7, 3]
(9, 6, 9, 7, 3)

In [ ]:

numeros = [9, 6, 7, 8]

enum = enumerate(numeros)

lista = list(enum)

primeiro_item_enum = lista[0]

print(lista)
print()

numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print(indice, valor)

[(0, 9), (1, 6), (2, 7), (3, 8)]

0 9
1 6
2 7
3 9
4 2
5 4
6 3

In [ ]:

tupla = 5, 6, 7, 6, 1, 9, 5, 2, 7, 3, 6

print(sum(tupla))

57

In [ ]:

"""
From Rafael Bianco to Everyone:  04:17 PM
professor se a lista for em string, como fazermos para clássicas em ordem alfabética?
"""

nomes = ["Rafael", "Paulo", "Marina", "Mariana", "Gabriel", "Juliano"]

nomes.sort()

print(nomes)

['Gabriel', 'Juliano', 'Mariana', 'Marina', 'Paulo', 'Rafael']

In [ ]:
"""
From Andrea Davi Carrer to Everyone:  04:01 PM
e se eu quiser que ele incremente de 2 em 2?
"""

numeros = [10, 9, 6, 4, 7, 6, 6, 4, 1, 3, 9]

for indice in range(0, len(numeros), 2):
  print(indice)

0
2
4
6
8
10

In [ ]:
"""
From Guilherme Alarsa to Everyone:  03:47 PM
e uma lista que tivesse um input pro usuário colocar os valores?
"""

numeros = []

print("Digite 3 números...")

for indice in range(3):
  numero = int(input("Digite um número: "))
  numeros.append(numero)

print("Os números digitados foram:", numeros)

Digite 3 números...
Digite um número: 1
Digite um número: 41
Digite um número: 14848
Os números digitados foram: [1, 41, 14848]

In [ ]:

# Dicionários
# Quase iguais as listas
# A única diferença é que podemos/devemos definir os índices

# Enquanto a lista atribui índices sequenciais de maneira automática,
# os dicionários precisam desse índice definido

dicionario = {"nome": "Paulo", "sobrenome": "Salvatore"}

print(dicionario, type(dicionario))

nome = dicionario["nome"]
print(nome, type(nome))

sobrenome = dicionario["sobrenome"]
print(sobrenome, type(sobrenome))

{'nome': 'Paulo', 'sobrenome': 'Salvatore'} <class 'dict'>
Paulo <class 'str'>
Salvatore <class 'str'>

In [ ]:

paulo = {
    "nome": "Paulo",
    "sobrenome": "Salvatore",
}

caio = {
    "nome": "Caio",
    "sobrenome": "Felintro",
}

renato = {
    "nome": "Renato",
    "sobrenome": "Fonseca",
}

pessoas = [paulo, caio, renato]

for pessoa in pessoas:
  nome = pessoa["nome"]
  sobrenome = pessoa["sobrenome"]

  print(nome, sobrenome)

# print(paulo["nome"], paulo["sobrenome"])
# print(caio["nome"], caio["sobrenome"])

Paulo Salvatore
Caio Felintro
Renato Fonseca